
@import "./utils/variables";
@import "./utils/mixins";

#contact {
	width: 50%;
    margin: auto;

    & > * {
	    text-align: $textAlign-center;
    }

    & h2{
        margin-bottom: 20px;
    }
    
    & form {
        @include contactetAjoutForm;
    }

    & input {
        height: 50px;
        font-size: 1.2em;
        border: none;
        box-shadow: $box-shadow-color
    }

    & label {
        margin: 2em 0 1em 0;
    }

    & textarea {
        border: none;
        box-shadow: $box-shadow-color;
    }
}