
@import "./utils/variables";
@import "./utils/mixins";

#contact {
	width: 50%;
    margin: auto;

    & > * {
	    text-align: $textAlign-center;
    }

    & h2{
        margin-bottom: 20px;
    }

    p {
        color: #3D3D3D;
    }
    
    & form {
        @include contactetAjoutForm;
    }

    & input {
        height: 50px;
        font-size: 1.2em;
        @include borderNone-boxshadow;
    }

    & label {
        margin: 2em 0 1em 0;
    }

    & textarea {
        border: none;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    }
}