// variables
@import "./utils/variables";

// mixin
@import "./utils/mixins";

/*ajout de css*/
.div-conteneur {
	display: $displayFlex;
	justify-content: center;
	height: 38px;
	margin: 50px auto;
	gap: 10px;

    & > * {
	    padding: 10px 30px;
	    border: 1px solid #1D6154;
	    border-radius: 60px;
	    font-family: 'Syne';
	    font-weight: 700;
	    font-size: 16px;
	    color: #1D6154;
	    cursor: pointer;

		&:hover {
            @include colors-filtre;
        }
    }

	.filtre-selectionne {
		@include colors-filtre;
	}

}
/*fin de l'ajout de css*/