@import "./utils/variables";

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: $modal-input-color;
	background-color: $button-backgroundColor;
	margin : 2em auto ;
	width: 180px;
	text-align: $textAlign-center;
	border-radius: 60px ;

	&:hover {
		background-color: $button-hover-backgroundColor;
	}
}
