// variables
@import "./utils/variables";

nav ul {
	display: $displayFlex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 30px;
	font-size: 1.2em;

	&:hover {
		font-weight: 700;
	}
}

li:hover {
    cursor: pointer;
}