// color / backgroundColor
$button-hover-backgroundColor : #0E2F28;
$button-backgroundColor :  #1D6154;
$button-empty-backgroundColor : #A7A7A7;
$website-backgroundColor : #FFFEF8;
$edition-backgroundColor : #000000;
$modal-input-color : #FFFFFF;

// autres
$displayFlex : flex;
$textAlign-center : center; // _contact; _form; _modale
$textDeco-none : none; // 