
@import "../utils/variables";
@import "../utils/mixins";

#connecter {
    width: 50%;
    margin: 150px auto;

    & h2{
        display: $displayFlex;
        justify-content: center;
    }

    & form {
        text-align: left;
        margin-top:30px;
        display: $displayFlex;
        flex-direction: column;
    }

    & input {
        @include section-input;
    }

    & label {
        margin: 2em 0 1em 0;
    }
}