
#connecter a {
    display: flex;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.42px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #3D3D3D;

    margin: auto;
    justify-content: center;
}