// variables
@import "../utils/variables";

// mixins
@import "../utils/mixins";

.edition {
    position: absolute;
    width: 100vw;
    height: 59px;
    background-color: $edition-backgroundColor;
    color: $modal-input-color;
    @include jc-aiCenter;
    top: 0;
    left: 0;
    display: none;
    text-decoration: $textDeco-none;
}

.modifier {
    display: $displayFlex;
    @include jc-aiCenter;

    & h2 {
        text-align: $textAlign-center;
    }

    &-lien {
        display: inline-flex;
        padding: 0px 30px;
        font-family: Work Sans;
        font-size: 14px;
        font-weight: 400;
    }

    & a {
        color: $edition-backgroundColor;
        text-decoration: $textDeco-none;
        padding-left: 30px;
    }
}

.fa-pen-to-square {
    font-weight: 400;
    padding: 0 10px;
}