#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

/*ajout de css*/
.div-conteneur {
  display: flex;
  justify-content: center;
  height: 38px;
  margin: 50px auto;
  gap: 10px;
}
.div-conteneur > * {
  padding: 10px 30px;
  border: 1px solid #1D6154;
  border-radius: 60px;
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
  color: #1D6154;
  cursor: pointer;
}
.div-conteneur > *:hover {
  background-color: #1D6154;
  color: white;
}
.div-conteneur .filtre-selectionne {
  background-color: #1D6154;
  color: white;
}

/*fin de l'ajout de css*/
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
input[type=submit]:hover {
  background-color: #0E2F28;
}

.couleur-survol {
  cursor: pointer;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gallery img {
  width: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

ol, ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #B1663C;
}
h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

nav li a {
  text-decoration: none;
  color: black;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
nav li:hover {
  font-weight: 700;
}

li:hover {
  cursor: pointer;
}

section {
  margin: 50px 0;
}

#connecter {
  width: 50%;
  margin: 150px auto;
}
#connecter h2 {
  display: flex;
  justify-content: center;
}
#connecter form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#connecter input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#connecter label {
  margin: 2em 0 1em 0;
}

.erreur {
  color: red;
  background-color: rgb(239, 186, 195);
  padding: 15px;
}

.login {
  font-weight: 600;
}

#connecter a {
  display: flex;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #3D3D3D;
  margin: auto;
  justify-content: center;
}

.edition {
  position: absolute;
  width: 100vw;
  height: 59px;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  display: none;
  text-decoration: none;
}

.modifier {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modifier h2 {
  text-align: center;
}
.modifier-lien {
  display: inline-flex;
  padding: 0px 30px;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
}
.modifier a {
  color: black;
  text-decoration: none;
  padding-left: 30px;
}

.fa-pen-to-square {
  font-weight: 400;
  padding: 0 10px;
}

#connecter {
  width: 50%;
  margin: 150px auto;
}
#connecter h2 {
  display: flex;
  justify-content: center;
}
#connecter form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#connecter input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#connecter label {
  margin: 2em 0 1em 0;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.modale {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3019607843);
  display: flex;
  justify-content: center;
}
.modale-gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  padding-bottom: 0;
}
.modale img {
  width: 100%;
}
.modale-projet-conteneur {
  position: relative;
  display: inline-block;
}
.modale-projet-conteneur img {
  display: block;
}
.modale-ajout-form {
  display: flex;
  flex-direction: column;
}
.modale-button-js {
  padding-top: 25px;
}

#modale #file {
  box-shadow: none;
  margin: auto;
  position: absolute;
  top: 90px;
  z-index: -1;
}

#ajout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#ajout .ajout-photo-titre {
  padding-bottom: 10px;
  padding-top: 30px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  line-height: 16.42px;
}
#ajout .ajout-photo-categorie {
  padding: 20px 0 10px 0;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  line-height: 16.42px;
}
#ajout .ajout-selectionCategories {
  margin-bottom: 30px;
}
#ajout #selectionCategories {
  width: 420px;
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  background-color: white;
  cursor: pointer;
  color: #444444;
  font-size: 14px;
  padding-left: 16px;
}
#ajout form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.ajouter-photo {
  width: 173px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
}
.ajouter-photo-rectangle {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 169px;
  border-radius: 3px 0px 0px 0px;
  background-color: #E8F1F6;
  margin: 0 auto;
}
.ajouter-photo-rectangle label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: #306685;
  background-color: #CBD6DC;
  height: 40px;
  width: 170px;
  margin: auto;
  cursor: pointer;
}
.ajouter-photo-rectangle #affichage-photo {
  margin: -10px auto 0 auto;
  position: relative;
}
.ajouter-photo-rectangle #affichage-photo img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 150px;
  height: 190px;
  display: none;
}

.photo-taille-max {
  padding-top: 10px;
  padding-bottom: 20px;
}

#modale #ajout input {
  width: 420px;
  margin: auto;
  font-size: 14px;
  color: #444444;
  padding-left: 16px;
}

.affiche-poubelle {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.fa-trash-can {
  font-size: 10px;
  color: white;
  background-color: black;
  padding: 4px;
}

.fleche-gauche-modale {
  display: block;
  border: none;
  background-color: white;
  padding-top: 30px;
  cursor: pointer;
}

.fa-arrow-left {
  display: flex;
  justify-content: left;
}

.fa-image {
  color: #B9C5CC;
  font-size: 75px;
  padding-top: 20px;
}

.fermer-modale {
  width: 24px;
  height: 24px;
  top: 26px;
  right: 30px;
  padding: 6px;
  position: absolute;
  border: none;
  background-color: white;
  font-weight: bold;
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.contenu-modale {
  overflow: auto;
  position: fixed;
  text-align: center;
  width: 620px;
  height: 720px;
  border-radius: 10px 0px 0px 0px;
  background-color: white;
  margin-top: 6px;
  padding: 0 40px;
  animation: affichageModale 300ms ease-out;
}
.contenu-modale__h1 {
  font-family: "Work Sans";
  color: black;
  font-weight: 400;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

hr {
  border: 1px solid #B3B3B3;
}

#modale input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 240px;
  margin: 0.6em auto;
}

.succes-ajout-photo {
  background-color: #A7A7A7;
}
.succes-ajout-photo:hover {
  background-color: #0E2F28;
}

#modaleSuppr #modaleButtonJs {
  border: none;
  background-color: inherit;
}

@keyframes affichageModale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
body {
  line-height: 1;
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #FFFEF8;
}

* {
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */